<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Consultas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contacto</a>
    </li>
  </ul>
</div>
<br />

<div class="container">
  <div class="row">
    <div class="col"></div>

    <div>
      <div>
        <!--div del button Agregar-->
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Consultas.com</h1>
            <p class="lead">
              Aquí podrá realizar sus consultas y agregar registros a nuestra
              base de datos.
            </p>
          </div>
        </div>

        <br />
        <br />

        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalComponent"(click)="agregar(0)">
          Agregar
        </button>
      </div>
      <br />
      <div class="col-8"></div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">DNI</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let i of personas">
            <!-- esto es un for each-->
            <th scope="row">{{ i.id }}</th>

            <td>{{ i.nombre }}</td>
            <td>{{ i.apellido }}</td>
            <td>{{ i.dni }}</td>

            <td>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(i.id)">
                Eliminar
              </button>

              <button type="button" class="btn btn-outline-warning btn-sm" (click)="update(i.id)">
                Editar
              </button>
              <!--<td>Eliminar Editar</td>-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col"></div>
  </div>
</div>


<!-- <div class="modal fade" id="modalComponent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       

          
          <h5 class="modal-title" id="exampleModalLongTitle">{{!this.service.selectedPro.id ? 'Modal title': 'Update'}}</h5>
        
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      
      </div>
    </div>
  </div>
</div> -->
